.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px 0;
}

@media (max-width: 576px) {
  .travel-mode-options {
    flex-direction: column;
    gap: 10px;
  }

  .add-person-form {
    flex-direction: column;
  }

  .form-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .form-buttons button {
    width: 100%;
  }

  .step-label {
    font-size: 10px;
  }
}

.primary-custom-btn {
  box-shadow: 0px 3px 0px 0px #b81b0147;
  background: #b81b01;
  color: #ffffff;
  /* font-family: Aeonik; */
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
}

.primary-custom-btn:active,
.primary-custom-btn:focus,
.primary-custom-btn:hover,
.primary-custom-btn:disabled {
  box-shadow: 0px 3px 0px 0px #b81b0147 !important;
  border: none !important;
  background-color: #b81b01 !important;
}

.secondry-cutom-btn {
  box-shadow: 0px 3px 0px 0px #3a096a;
  background: #3a096a;
  color: #ffffff;
  /* font-family: Aeonik; */
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.secondry-cutom-btn:active,
.secondry-cutom-btn:focus,
.secondry-cutom-btn:hover {
  background: #3a096a !important;
  box-shadow: 0px 3px 0px 0px #3a096a !important;
}

.isRequired::after {
  position: absolute;
  content: "*";
  left: "100%";
  color: #b11a1a;
  margin-left: 4px;
}

.isRequired {
  position: relative;
}

.form-check-input:checked,
.form-check-input:active {
  background-color: #b81b01 !important;
  border-color: #b81b01 !important;
  box-shadow: none !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}
